.pagination {
  width: 200px;
  margin: 0 auto;

  &__bar {
    background-color: #eeeff2;
    height: 6px;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 16px;

    &::after {
      content: '';
      display: block;
      background: #780096;
      height: 100%;
      with: var(--with);
      border-radius: 3px;
      transition: with 0.36s ease-in-out;
    }
  }

  &__arrays {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  &__left {
  }

  &__current {
  }

  &__total {
  }

  &__right {
  }
}
